@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*fundo do site*/
body {
    color: white;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif
}

/*texto contato, servicos, etc*/
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

/*texto tambem*/
li{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
    margin: 23px;
}

/*link*/
a{
    text-decoration: none;
    color: white;
}

.pin{
    height: 30px;
    width: 30px;
    margin: 50px;
}

.top{
    margin-left: auto;

}

.cabecalho{
    position: relative;
    display: flex;
    background-color: rgb(15, 15, 15);
    align-items: center;
}

.imagenssite{
    justify-content: space-between;
    display: flex;
}


img{
    display: flex;
    margin: 9px;
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin-left: 650px;
 }

 #imagem_pin{
    display: flex;
    align-items: center;
    margin-left: 8em;
   
 }

 h2{
    font-size: 12px;
    margin: -40px;
 }