@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*fundo do site*/
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

/*texto contato, servicos, etc*/
ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0px;
    margin-right: 400px;


}

/*texto tambem*/
li {
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding-left: 3rem;
}

/*link*/
a {
    text-decoration: none;
}

/*texto no cabeçalho*/
.top {
    margin-left: auto;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #ef1217, #ef1217 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.top a{
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #ef1217, #ef1217 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.top a:hover{
    justify-content: space-between;
    background-position: 0 100%;
}

.cabecalho {
    position: relative;
    display: flex;
    background-color: rgb(15, 15, 15);
    align-items: center;
}

/*logo jandosa*/
.logoreal {
    display: flex;
    margin: 9px;
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin-left: 350px;
    border-style: solid;
    border-color: #ef1217;
}

/*logo jandosa fim NAO MEXER PQ DEMOROU PRA FUNCIONAR*/